* {
    box-sizing: border-box;
 }
 body{
     background-color: rgb(219, 115, 132);
 }
 div{
     border: 3px white solid;
     width: 55.55%;
     float: left;
     position: relative;
     padding: 10px;   
     padding-top: 30px;
     padding-bottom: 30px;
     color: rgb(255, 255, 255);
     background-color: black;
 }
 p{
     text-align: center;
 }

 div p.sample{
     font-weight: bolder;
     font-size: 100%;
     font-family: Arial, Helvetica, sans-serif;
     background-color: lightpink;
     width: 35%;
     height: 30%;
     top: 0;
     bottom: 0;
     right: 0;
 }
 h1{
     text-align: center;
     padding-top: 5%;
     padding-bottom: 5%;
     font-size: 50px;
     font-family:Georgia, 'Times New Roman', Times, serif;
 }

 @media (max-width: 992px) {
    div {
        width: 101%;
    }
 }
 @media (min-width: 768px) and (max-width: 991px) {
    div.name1{
        width: 50%;
    }
    div.name2{
        width: 50%;
    }
    div.name3{
        width: 100%;
    }
 }
 @media (min-width: 767px){
    div {
        width: 100%;
    }
 }
 
